/* custom property----------------------  */
:root{
  /* colors */
  --primary-color: #4891ff;
  --light-color: #fff;
  --secondary-light-color: #f4f4f6;
  --gray-color: #e5e5e5;
  --dark-color: #111;
  --secondary-dark-color: #333;


  /* font-family */
  --font-primary: "Poppins", sans-serif;

  /* font-sizes */
  --font-size-primary: 1rem;
  --font-size-xxl: 3rem;
  --font-size-xl: 2.2rem;
  --font-size-lg: 1.8rem;
  --font-size-md: 1.2rem;
  --font-size-sm: 0.9rem;

  /* line-height */
  --line-height-primary: 1.5;
  --line-height-big-text: 1.2;
  --line-height-small-text: 1.4;

}
/* ----------------------------------- */

/* reset the default design---------------- */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: var(--secondary-dark-color);
}
li{list-style: none;}

/* ------------------------------- */

body{
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  background: var(--secondary-light-color);
}

/* Navbar */

.navbar{
  background: var(--secondary-light-color);
  padding: 20px;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul{
  display: flex;
}

.navbar ul li a{
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.4s ease-out;
}

.navbar ul li a:hover{
  color: var(--primary-color);
}

.navbar ul li a i{
  margin-right: 7px;
}

.navbar ul li:last-child a{
  margin-left: 10px;
}

/* Hero */

.hero{
  margin-bottom: 50px;
}

.hero .container{
  background: url('../images/hero-bg.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .hero-content{
  width: 70%;
}

.hero .hero-text{
  width: 70%;
  margin-bottom: 1.1rem;
}


/* ------------------------------------------ */

/* Utility Classes */

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn{
  background: var(--gray-color);
  color: var(--secondary-dark-color);
  display:inline-block;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
}

.btn:hover{
  opacity: 0.8;
}

.btn-primary{
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-dark{
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-block{
  display: block;
  width: 100%;
}

/* Text Classes */

.text-xxl{
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-big-text);
  font-weight: 600;
  margin: 40px 0px 20px;
}
.text-xl{
  font-size: var(--font-size-xl);
  line-height: var(--line-height-big-text);
  font-weight: normal;
  margin: 40px 0px 20px;
}
.text-lg{
  font-size: var(--font-size-lg);
  line-height: var(--line-height-small-text);
  font-weight: normal;
  margin: 30px 0px 20px;
}
.text-md{
  font-size: 1.2rem;
  line-height: var(--line-height-small-text);
  font-weight: normal;
  margin: 20px 0px 10px;
}
.text-sm{
  font-size: 0.9rem;
  line-height: var(--line-height-primary);
  font-weight: normal;
  margin: 10px 0px 5px;
}

.text-center{
  text-align: center;
}